body,
html {
    margin: 0;
}

header {
    background: #4ea0ff;
    background-image: url(./../../img/pattern.png);
    background-size: contain;
    background-position: center;
    display: flex;
    text-align: center;
    color: white;
    position: relative;

}

main {
    margin-left: 100px;
    margin-right: 100px;
}

.primo {

    color: #808080;

}

.secondo {

    color: #20a9e5;

}