body,
html {
    margin: 0;
}

header {
    background: #4ea0ff;
    background-image: url(./../../img/pattern.png);
    background-size: contain;
    background-position: center;
    display: flex;
    text-align: center;
    color: white;
    position: relative;

}

main {
    margin-left: 90px;
    margin-right: 0;
}

.primo {


    color: #808080;

}

.secondo {

    color: #20a9e5;

}

h1 {
    margin-bottom: 0;
}

#data {
    margin-top: 0;
    color: #808080;

}

figure {
    margin: 0;
}